body {
  background-color: #222626;
}

* {
  color: white;
}

body .v-data-table * {
  color: black !important;
}

/* Add custom styles for the loading spinner */
body .v-progress-circular * {
  color: black !important;
}